<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {title: 'home'}) %>
  <body>
    <%- include('partials/nav', {navtitle: 'Fran'}) %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% data.forEach(function(actor){ %>
        <li>
          <p><%= actor.id %></p>
          <p><%= actor.first_name %></p>
          <p><%= actor.last_name %></p>
          <p><%= actor.rating %></p>
        
        </li>
        <hr>
      <% }); %>
    </ul>

  </body>
</html>